# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# react-frontend

# dependencies
/react-frontend/node_modules
/react-frontend/.pnp
/react-frontend/.pnp.js

# testing
/react-frontend/coverage

# production
/react-frontend/build

# misc
/react-frontend/.DS_Store
/react-frontend/.env.local
/react-frontend/.env.development.local
/react-frontend/.env.test.local
/react-frontend/.env.production.local

/react-frontend/npm-debug.log*
/react-frontend/yarn-debug.log*
/react-frontend/yarn-error.log*

# express-backend

# dependencies
/express-backend/node_modules
/express-backend/.pnp
/express-backend/.pnp.js

# testing
/express-backend/coverage

# production
/express-backend/build

# misc
/express-backend/.DS_Store
/express-backend/.env.local
/express-backend/.env.development.local
/express-backend/.env.test.local
/express-backend/.env.production.local

/express-backend/npm-debug.log*
/express-backend/yarn-debug.log*
/express-backend/yarn-error.log*
